
  <div [ngClass]="headerTheme">
    <div class="icon">
      <mat-icon (click)="setDarkTheme()">brightness_2</mat-icon>
      <mat-icon (click)="setLightTheme()">brightness_5</mat-icon>
    </div>

    <div class="btnNavbar">
      <div class="home">
        <a href="#" routerLink="/home" class="link">Home</a>
      </div>
      <div class="info">
        <a href="#" routerLink="/info" class="link">Info Page</a>
      </div>
      <div class="collaborations">
        <a href="#" routerLink="/collaborations" class="link">collaboration</a>
      </div>
    </div>
  </div>

  
