// header varibles
$padding: 20px;
$font-size: large;
$height: 15vh;

// card variables
$width: 300px;
$height: 300px;
$border-radius: 7px;

// light theme
$bg-light: rgb(234, 228, 228);
$color-light: black;

// dark theme
$bg-dark: rgb(32 33 36);
$color-dark: white;

//form theme light
$bg-form-light: #bdb8b8;

//form theme dark
$bg-form-dark: rgb(62 62 63)

