:host {
    //flex-grow: 1;
    //background-color: rgba(63, 60, 60, 0.905);
    //height: 78vh;
    //width: 7%;
    //padding: 20px;
    display: block;
}

.aside {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    height: 100%;
}
